body{
  font-family: 'Gentium Book Plus', serif;
  margin: 0;
  padding: 0;
  list-style: none;
 }
h1{
  font-size: 50px;
  color: rgb(95, 91, 91);
}
p{
  color: rgb(129, 118, 118);
  margin-bottom: 20px;
  width: 80%;
  font-size: 15px;
}
.title{
  color: orange;
}
.flexible-container{
  display: flex;
  margin-bottom: 15px;
  padding: 30px;
 
}
.container{
  background-image: url("images/shapes/top-banner.png");
  background-repeat: no-repeat;
}
.header{
  width: 50%;
  margin-left: 5%;
  padding-left: 2%;
}
.blog{
  padding-top:60px;
  padding-left: 80px;
}
.header img{
  width: 70%;
  
  
}
.blog-img{
  width: 20%;
  padding-left: 170px;
  padding-top: 10px;
}
.blog-header{
  padding-left: 200px;
  padding-top: 20px;
}
.blog-header p{
 width: 60%;
 text-align: justify;
 margin-bottom: 10px;
}
.blog-header button{
  margin-top:50px ;
}
.btn{
  background-image: linear-gradient(orange,tomato);
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  margin-top: 20px;
}
.about-blog{
  background-image: url("images/shapes/7.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.food-blog{
  text-align: center;
  margin-bottom: 50px;
}

.developer{
  width: 50%;
  margin-right: 30px;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 10px 10px 40px gray;
  
}
.developer img{
  width: 100%;
  height: 40vh;
  border-radius: 30px;
}
.page-handle{
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px 100px ;
  border-radius: 20px;
  box-shadow: 10px 10px 40px gray;
  padding-top: 50px;
  display: flex;
}
.content{
  width: 30%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 20px;
}
.content h5{
  font-size: 12px;
  color: #4c4c4c;
}
footer{
  text-align: center;
  background-color: black;
  color: grey;
  font-size: 15px;
  padding: 20px;
}



